{% extends "layout.html" %}
{% block content %}
   <div class="newproject">
     <h1>New Project</h1>
     <p>The goal is to examine the benefits and how a standard application runs on a Windows virtual desktop.
WVD is a Microsoft Azure-based desktop and application virtualization solution. It offers a user-friendly Windows 10 experience as well as the ability to access users' desktops from any location, on any device, at any time. Security and compliance are built-in, and deployment takes minutes. WVD is the first virtual desktop infrastructure that allows IT and admins to manage their desktops more easily while providing end users with a multi-session Windows 10 experience.
</p>
   </div>
 {% endblock %}